body {
  width: 80%;
  margin: 0 auto;
}

.movie {
  background-color: #272932;
  color: #E7ECEF;
  display:flex;
  margin-bottom: 20px;
  padding: 20px;
}

img {
  width: 10rem;
}
.photo-column, .info-column {
  flex-wrap: wrap;
  justify-content: center;
}

.info-column {
  padding: 1rem;
}
